<h1 class="text-center">List of clients</h1>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3>Full Names</h3>
	</div>
	<div class="panel-body">
		<% @clients.each do |client| %>
			<%= link_to client.full_name, client_path(client) %>
			<br>
		<% end %>
		</div>
</div>

<%= will_paginate  @clients%>