<h1>Clients Details</h1>

<div class="panel panel-info">
	<div class="panel-body">
		<p>Full name: <%= @client.full_name %></p>
		<p>Email: <%= @client.email %></p>
		<p>Phone number: <%= @client.phone_number %></p>
	</div>
</div>
	
	<br>
	<%= link_to 'Back', root_path %>
